$color-prime1: #FFFF0A;
$color-prime2: #FFF542;
$color-prime3: #FFD64D;
$color-prime4: #E3B838;
$color-prime5: #997521;
$color-second1: #4FA833;
$color-second2: #85A67A;
$color-second3: #127826;

$header-height: 4rem;

$footer-height: 5rem;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

header {
  width: 100%;
  height: $header-height;
  position: fixed;
  top: 0;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, $color-prime2 20%, $color-prime3 30%);

  .header_logo {
    display: flex;
    color: $color-prime5;
    transition: color 0.5s;
    span {
      padding-left: 2em;
      font-size: large;
      font-weight: bolder;
    }
    &:hover {
      color: $color-second1;
    }
  }

  .navigation_button {
    position: relative;
    padding: 0;
    display: none;
    border: none;
    height: 100%;
    background-color: $color-prime4;
    width: $header-height;
    @media screen and (max-width: 1023px) {
      display: block;
    }
    &:hover {
      & nav {
        display: block;
      }
    }
    svg {
      height: 80%;
      position: absolute;
      top: 10%;
      left: 10%;
      stroke: $color-second3;
    }
    .mobile_navigation {
      position: absolute;
      top: $header-height;
      right: 0;
      display: none;
      z-index: 10;
      a {
        line-height: $header-height;
        font-weight: 500;
      }
      .navigation_section {
        height: 100%;
        position: relative;
        width: 10rem;
        margin: 0;
        padding: 0;
        li {
          height: 100%;
          width: 100%;
          text-align: center;
          list-style-type: none;
          color: darkslategray;
          background-color: $color-prime1;
          transition: all 0.3s;
          &:last-child {
            border-bottom-left-radius: 0.5em;
            border-bottom-right-radius: 0.5em;
          }
          &:hover {
            color: white;
          }
        }
      }
    }
  }

  .desktop_navigation {
    height: 100%;
    display: flex;
    @media (max-width: 1023px) {
      display: none;
    }
    a {
      line-height: $header-height;
      font-weight: 500;
    }
    .navigation_section {
      height: 100%;
      position: relative;
      width: 10rem;
      margin: 0;
      padding: 0;

      li {
        height: 100%;
        width: 100%;
        z-index: 10;
        padding-left: 1em;
        list-style-type: none;
        color: $color-second1;
        background-color: $color-prime3;
        transition: all 0.3s;
        &:not(:first-child) {
          visibility: hidden;
          width: 120%;
          box-shadow: 0px 0.4em 0.3em $color-prime5;
          &:nth-child(even) {
            transform-origin: right;
            transform: rotateY(90deg);
          }
          &:nth-child(odd) {
            transform-origin: left;
            transform: rotateY(-90deg);
          }
        }
        &:hover {
          color: $color-second3;
          background-color: $color-prime4;
        }
      }
      &:hover {
        & li:not(:first-child) {
          visibility: visible;
          transform: rotateY(0deg);
        }
      }
    }
  }
}

.page_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: calc(100vh - $footer-height);
  padding-top: $header-height;
  background-color: white;
  main {
    flex-grow: 0;
  }
  aside {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-top: thick ridge $color-second2;
    background-color: whitesmoke;
    @media (min-width: 1024px) {
      flex-direction: column;
      justify-content: flex-start;
      border-top: none;
      border-left: thick ridge $color-second2;
    }
    .ad_blok {
      background-color: #85A67A;
      height: 180px;
      width: 180px;
      margin: 0.5rem;
    }
  }
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

footer {
  width: 100%;
  height: $footer-height;
  padding: 1rem;
  font-size: smaller;
  font-weight: 600;
  text-align: center;
  background-color: $color-prime2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
