$c-l-yellow: #f4ed47;
$c-l-yellow-op: #f4ed47b6;
$c-l-yellow2: #efea07;
$c-l-yellow2-op: #efea07b6;
$c-l-purple: #937acc;
$c-l-pink: #ed72aa;
$c-l-pink2: #d60270;

$header-height: 6rem;
$header-li-height: calc($header-height * 0.5);
$footer-height: 5rem;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

header {
  width: 100%;
  height: $header-height;
  position: fixed;
  top: 2rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;

  .upperheader {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    .header_logo {
      display: flex;
      color: $c-l-purple;
      transition: color 0.5s;
      span {
        padding-left: 2em;
        font-size: large;
        font-weight: bolder;
      }
      &:hover {
        color: $c-l-pink;
      }
    }
    .mobile-menu {
      .navigation_button {
        position: relative;
        padding: 0;
        display: none;
        border: none;
        height: 100%;
        background-color: $c-l-yellow;
        width: $header-height;
        @media screen and (max-width: 1023px) {
          display: block;
        }
        &:hover {
          & nav {
            display: block;
          }
        }
        .menu-icon {
          height: 80%;
          position: absolute;
          top: 10%;
          left: 10%;
          stroke: $c-l-pink;
        }
      }
      .mobile_navigation {
        position: absolute;
        top: $header-height;
        right: 0;
        display: none;
        z-index: 10;
        a {
          line-height: $header-height;
          font-weight: 500;
        }
        .navigation_section {
          height: 100%;
          position: relative;
          width: 10rem;
          margin: 0;
          padding: 0;
          li {
            height: 100%;
            width: 100%;
            text-align: center;
            list-style-type: none;
            color: $c-l-purple;
            background-color: $c-l-yellow;
            transition: all 0.3s;
            &:last-child {
              border-bottom-left-radius: 0.5em;
              border-bottom-right-radius: 0.5em;
            }
            &:hover {
              color: $c-l-pink;
              background-color: $c-l-yellow2-op;
            }
          }
        }
      }
    }

    .desktop_navigation {
      height: 100%;
      display: flex;
      @media (max-width: 1023px) {
        display: none;
      }
      a {
        line-height: $header-li-height;
        font-weight: 500;
      }
      .navigation_section {
        height: $header-li-height;
        position: relative;
        width: 10rem;
        margin-left: 1rem;
        padding: 0;
        border-radius: calc($header-li-height / 2);
        background-color: $c-l-yellow;
        z-index: 1;
        transition: height 0.3s;
        li {
          height: $header-li-height;
          width: 100%;
          position: absolute;
          text-align: center;
          color: rgb(54, 53, 53);
          list-style-type: none;
          transition: all 0.3s;
          &:not(:first-child) {
            visibility: hidden;
            opacity: 0;
          }
          &:hover {
            color: $c-l-pink;
          }
        }
        &:hover {
          height: calc($header-li-height * 5);
          & li:not(:first-child) {
            visibility: visible;
            opacity: 0.8;
          }
          & li:nth-child(2) {
            transform: translateY($header-li-height);
          }
          & li:nth-child(3) {
            transform: translateY($header-li-height * 2);
          }
          & li:nth-child(4) {
            transform: translateY($header-li-height * 3);
          }
          & li:nth-child(5) {
            transform: translateY($header-li-height * 4);
          }
        }
      }
    }
    .login-button {
      height: 100%;
      .login-icon {
        height: 80%;
      }
    }
  }
  .underheader {
    position: fixed;
    top: $header-height;
    width: 100%;
  }
}

.bg-image {
  width: 100%;
  height: 100vh;
  background-image: url("/bg/bg-1920.webp");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}

.page_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: calc(100vh - $footer-height);
  margin-top: $header-height;
  background-color: white;
  main {
    flex-grow: 0;
  }
  aside {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-top: thick double $c-l-yellow;
    @media (min-width: 1024px) {
      flex-direction: column;
      justify-content: flex-start;
      border-top: none;
      border-left: thick double $c-l-yellow;
    }
    .ad_blok {
      background-color: #85a67a;
      height: 180px;
      width: 180px;
      margin: 0.5rem;
    }
  }
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

footer {
  width: 100%;
  height: $footer-height;
  padding: 1rem;
  font-size: smaller;
  font-weight: 600;
  text-align: center;
  background-color: $c-l-yellow;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
