$c-l-yellow: #f4ed47;
$c-l-yellow2: #efea07;
$c-l-purple: #937acc;
$c-l-pink: #ed72aa;
$c-l-pink2: #d60270;
$c-l-btn: adjust-color($c-l-yellow, $alpha: -0.8);
$c-l-menu: adjust-color($c-l-yellow, $alpha: -0.3);

$header-height: 7rem;
$header-li-height: $header-height * 0.4;
$footer-height: 5rem;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

header {
  width: 100%;
  height: $header-height;
  position: fixed;
  top: 0;
  padding: 2rem 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  .upperheader {
    width: 100%;
    height: $header-li-height;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header_logo {
      position: relative;
      .logo-text {
        position: absolute;
        bottom: 0;
        filter: blur(1px);
        user-select: none;
        margin-bottom: -14rem;
        color: rgb(239, 248, 152);
        font-weight: thin;
        font-size: 3rem;
        transition: color 1s;
        &:hover {
          color: $c-l-yellow;
        }
      }
    }

    .mobile_navigation {
      display: none;
      height: 100%;
      width: $header-li-height;
      @media (max-width: 1023px) {
        display: block;
      }
      .navigation_section {
        height: 100%;
        position: relative;
        width: 10rem;
        margin: 0;
        padding: 0;
        border-radius: $header-li-height / 2;
        background-color: $c-l-menu;
        transition: height 0.3s;
        .section_button {
          background-color: $c-l-yellow;
          top: 0;
          font-weight: bold;
          border-radius: $header-li-height / 2;
          border: 0;
          height: $header-li-height;
          width: 100%;
          position: absolute;
        }
        li {
          height: $header-li-height;
          width: 100%;
          position: absolute;
          visibility: hidden;
          opacity: 0;
          text-align: center;
          font-weight: 500;
          color: rgb(54, 53, 53);
          list-style-type: none;
          transition: all 0.3s;
          a {
            line-height: $header-li-height;
          }
          &:hover {
            color: $c-l-purple;
          }
        }
        &.show_menu {
          height: calc($header-li-height * 5);
          &:nth-child(3) {
            height: $header-li-height * 3;
          }
          &:nth-child(4) {
            height: $header-li-height * 5;
          }
          @for $i from 1 through 5 {
            & li:nth-child(#{$i}) {
              transform: translateY($header-li-height * ($i - 1));
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }

    .desktop_navigation {
      height: 100%;
      display: flex;
      user-select: none;
      @media (max-width: 1023px) {
        display: none;
      }
      .navigation_section {
        height: 100%;
        position: relative;
        width: 10rem;
        margin: 0 1rem;
        padding: 0;
        border-radius: $header-li-height / 2;
        background-color: $c-l-menu;
        transition: height 0.3s;
        .section_button {
          background-color: $c-l-yellow;
          font-weight: bold;
          border-radius: $header-li-height / 2;
          border: 0;
          height: $header-li-height;
          width: 100%;
          position: absolute;
          top: 0;
          z-index: 2;
        }
        li {
          height: $header-li-height;
          width: 100%;
          position: absolute;
          visibility: hidden;
          opacity: 0;
          text-align: center;
          font-weight: 500;
          color: rgb(54, 53, 53);
          list-style-type: none;
          transition: all 0.3s;
          a {
            line-height: $header-li-height;
          }
          &:hover {
            color: $c-l-purple;
          }
        }
        &.show_menu {
          height: $header-li-height * 5;
          &:nth-child(3) {
            height: $header-li-height * 3;
          }
          &:nth-child(4) {
            height: $header-li-height * 5;
          }
          @for $i from 2 through 5 {
            & li:nth-child(#{$i}) {
              transform: translateY($header-li-height * ($i - 1));
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
    .header-buttons {
      display: flex;
      align-items: center;
      height: 100%;
      button {
        margin-left: 0.5rem;
        padding: 0.3rem;
        background-color: $c-l-btn;
        border-radius: 0.5rem;
        border-width: 0;
        height: 80%;
        transition: background-color 0.3s;
        &:hover {
          background-color: opacify($c-l-btn, 0.2);
        }
        svg {
          fill: $c-l-yellow;
          height: 100%;
        }
      }
    }
  }
  .underheader {
    position: fixed;
    top: $header-height;
    width: 100%;
  }
}

.bg-image {
  width: 100%;
  height: 100vh;
  background-image: url("/bg/bg-1920.webp");
  filter: contrast(80%);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}

.page_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: calc(100vh - $footer-height);
  margin-top: $header-height;
  background-color: white;
  main {
    flex-grow: 0;
  }
  aside {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-top: thick double $c-l-yellow;
    @media (min-width: 1024px) {
      flex-direction: column;
      justify-content: flex-start;
      border-top: none;
      border-left: thick double $c-l-yellow;
    }
    .ad_blok {
      background-color: #85a67a;
      height: 180px;
      width: 180px;
      margin: 0.5rem;
    }
  }
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

footer {
  width: 100%;
  height: $footer-height;
  padding: 1rem;
  font-size: smaller;
  font-weight: 600;
  text-align: center;
  background-color: $c-l-yellow;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
